DISCORD_TOKEN=https://discord.com/developers/applications > bot > token > Reset Token
OPENAI_API_KEY=https://platform.openai.com/api-keys
# used by http_api example
# get from a regular discord url, ie https://discord.com/channels/<GUILD_ID>/<CHANNEL_ID>
DISCORD_GUILD=<GUILD_ID>
DISCORD_CHANNEL=<CHANNEL_ID>
